body {
    background-color: lightblue;
    text-align: center;
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
    word-wrap: break-word;
}

h1 {
    font-family: 'futura', sans-serif; 
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color: rgb(31, 17, 240);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

.container {
    margin: 20px;
}

.fixed-line {
  width: 200px; /* Adjust the width as needed */
  
  text-align: center;
}

.folder {
    border-top: 1px solid #4d5368; /* Adjust the border color and thickness as needed */
    margin: 20px 0; /* Adjust the margins to control the spacing above and below the line */
}

.folder-header {
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
  .folder-header::after {
    content: "\2192 \1F5C0"; /* Unicode for arrow and folder*/
    position: static;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  
  .folder-content {
    display: none;
  }
  
  .folder-content.show {
    display: block;
  }


